* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

.container {
    grid-template-rows: 90px auto 50px;
    grid-template-areas: 
        "header"
        "mainCol"
        "footer";
    display: grid;
}

header {
    background: #f06c00;
    padding: 10px 20px;
    grid-area: header;
    align-self: start;
    color: white;
    height: 90px;
}

.threeCols {
    grid-template-areas: "leftCol mainCol rightCol";
    grid-template-columns: 300px auto 300px;
    grid-column-start: mainCol-start;
    grid-column-end: mainCol-end;
    height: calc(100vh - 140px);
    grid-row-start: header-end;
    grid-row-end: footer-start;
    display: grid;

    transition: 250ms;
}

    /* when panels are closed */
    .threeCols.left {
        grid-template-columns: 0 auto 300px;
    }

    .threeCols.right {
        grid-template-columns: 300px auto 0;
    }

    .threeCols.right.left {
        grid-template-columns: 0 auto 0;
    }


aside {
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

aside.left {
    grid-area: leftCol;
}

aside.right {
    grid-area: rightCol;
}

article.mainCol {
    background: lightgray;
    grid-area: mainCol;
    padding: 10px 20px;
    overflow: hidden;
    overflow-y: scroll;
}


footer {
    background: #403e42;
    padding: 10px 20px;
    grid-area: footer;
    align-self: end;
    color: white;
    height: 50px;
}